<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <NthMobile_EasyWebShopSMS>
            <version>1.0.1</version>
        </NthMobile_EasyWebShopSMS>
    </modules>
    <frontend>
        <routers>
            <easywebshopsms>
                <use>standard</use>
                <args>
                    <module>NthMobile_EasyWebShopSMS</module>
                    <!-- this is the url that will trigger the controller to be called -->
                    <!-- /easywebshopsms/:controller/:action -->
                    <frontName>easywebshopsms</frontName>
                </args>
            </easywebshopsms>
        </routers>
        <layout>
            <updates>
                <NthMobile_EasyWebShopSMS module="NthMobile_EasyWebShopSMS">
                    <file>nthmobile_easywebshopsms.xml</file>
                </NthMobile_EasyWebShopSMS>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <easywebshopsms>
                <class>NthMobile_EasyWebShopSMS_Model</class>
                <resourceModel>easywebshopsms_resource</resourceModel>
            </easywebshopsms>
            <easywebshopsms_resource>
                <class>NthMobile_EasyWebShopSMS_Model_Resource</class>
                <entities>
                    <easywebshopsms>
                        <table>easywebshopsms</table>
                    </easywebshopsms>
                </entities>
            </easywebshopsms_resource>
        </models>
        <blocks>
            <easywebshopsms>
                <class>NthMobile_EasyWebShopSMS_Block</class>
            </easywebshopsms>
        </blocks>
        <helpers>
            <easywebshopsms>
                <class>NthMobile_EasyWebShopSMS_Helper</class>
            </easywebshopsms>
        </helpers>
        <events>
            <sales_order_status_history_save_before>
                <observers>
                    <easywebshopsms>
                        <class>easywebshopsms/observer</class>
                        <method>orderStatusHistorySave</method>
                    </easywebshopsms>
                </observers>
            </sales_order_status_history_save_before>
            <sales_order_place_after>
                <observers>
                    <easywebshopsms>
                        <class>easywebshopsms/observer</class>
                        <method>hookToSalesOrderPlaceAfter</method>
                        <type>singleton</type>
                    </easywebshopsms>
                </observers>
            </sales_order_place_after>
            <sales_order_shipment_save_after>
                <observers>
                    <easywebshopsms>
                        <class>easywebshopsms/observer</class>
                        <method>hookToSalesOrderShipmentPlaceAfter</method>
                        <type>singleton</type>
                    </easywebshopsms>
                </observers>
            </sales_order_shipment_save_after>
            <customer_register_success>
                <observers>
                    <easywebshopsms>
                        <class>easywebshopsms/observer</class>
                        <method>hookToCustomerRegisterSuccess</method>
                        <type>singleton</type>
                    </easywebshopsms>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <easywebshopsms>
                        <class>easywebshopsms/observer</class>
                        <method>hookToCustomerLogin</method>
                        <type>singleton</type>
                    </easywebshopsms>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <easywebshopsms>
                        <class>easywebshopsms/observer</class>
                        <method>hookToCustomerLogout</method>
                        <type>singleton</type>
                    </easywebshopsms>
                </observers>
            </customer_logout>
        </events>
        <resources>
            <NthMobile_EasyWebShopSMS_setup>
                <setup>
                    <module>NthMobile_EasyWebShopSMS</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </NthMobile_EasyWebShopSMS_setup>
            <NthMobile_EasyWebShopSMS_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </NthMobile_EasyWebShopSMS_write>
            <NthMobile_EasyWebShopSMS_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </NthMobile_EasyWebShopSMS_read>
        </resources>
    </global>
    <admin>
        <routers>
            <easywebshopsms>
                <use>admin</use>
                <args>
                    <module>NthMobile_EasyWebShopSMS</module>
                    <frontName>easywebshopsms</frontName>
                </args>
            </easywebshopsms>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <easywebshopsms translate="title" module="easywebshopsms">
            <title>EasyWebShop SMS</title>
            <sort_order>71</sort_order>
            <children>
                <logs translate="title" module="easywebshopsms">
                    <title>Message Log</title>
                    <sort_order>10</sort_order>
                    <action>easywebshopsms/adminhtml_easywebshopsmslogs</action>
                </logs>
                <abandonedcarts translate="title" module="easywebshopsms">
                    <title>Abandoned carts</title>
                    <sort_order>20</sort_order>
                    <action>easywebshopsms/adminhtml_easywebshopsmsabandonedcarts</action>
                </abandonedcarts>
                <saleabandonedcarts translate="title" module="easywebshopsms">
                    <title>Sale Abandoned carts</title>
                    <sort_order>25</sort_order>
                    <action>easywebshopsms/adminhtml_easywebshopsmssaleabandonedcarts</action>
                </saleabandonedcarts>
                <settings translate="title" module="easywebshopsms">
                    <title>Settings</title>
                    <sort_order>99</sort_order>
                    <action>adminhtml/system_config/edit/section/easywebshopsms</action>
                </settings>
            </children>
        </easywebshopsms>
        </menu>
        <layout>
            <updates>
                <easywebshopsms>
                    <file>nthmobile_easywebshopsms.xml</file>
                </easywebshopsms>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easywebshopsms translate="title" module="easywebshopsms">
                                            <title>Easywebshopsms Configuration</title>
                                        </easywebshopsms>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>